:root {
    /* Color variable */
    --background-color: #faf9f7;
    --text-color: #3b3b3b;
    --accent-color: #a3c4f3;
    --accent-color-2: #ffcfe1;
    --surface-color: #ffffff;
    --border-color: #e6e6e6;

    /*rounded corner scale*/
    --radius-size: 12px;
}

:root {
    background-color: var(--background-color, white);
    color: var(--text-color, black);
}

body {
    font-family: "Quicksand", sans-serif;
    border: 4px solid #000000; 
    padding: 14px;  /*one property*/
}

main, header, footer {
    max-width: 1000px;
    margin: auto;
    padding: 2rem 0;
}

header {
    text-align: center;
    
}

img, video, input, textarea, section, article, nav, progress, dialog {
    border-radius: var(--radius-size);
}

nav ul { 
    list-style: none; 
    display: flex;
    justify-content: center;
    gap: 1.2rem; 
    padding: 0; 
}

h1, h2, h3, h4 {
    color: var(--text-color);
    margin-bottom: 0.5rem;
}

profile-card { 
    display: block; 
    padding: 4px; 
    border: 2px dashed red; /*styling for custom element*/
}